p{
    display: inline-block;
}
div{
    display: inline-block;
}
.search-bar{
    display: block;
}
.thumbnail{
    width: 300px;
    display: block;
    /* height: 300px;
    object-fit: contain;
    border: 2px;
    border-style: solid;
    border-color: red;
    object-position: top; */
}
.video-title{
    width: 230px;
    display: inline-block;
    background-color: red;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin: 0px;
    vertical-align: top;
}
.video-author{
    display: inline-block;   
    width: 230px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    background-color: aqua;
}
.video-stats{
    display: inline;   
    width: 230px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    background-color: aqua;
}
.video-prev{
    display: inline-block;
    width: 300px;
    vertical-align: top;
    margin-right: 15px;
    background-color: gray;
}
.video-prev-l1-1{
    display: inline-block;
    width: 300px;
    vertical-align: top;
    margin-right: 15px;
    margin-bottom: 10px;
}
.video-prev-l1-2{
    display: inline;
    /* height: 100px; */
    width: 300px;
    vertical-align: top;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: black;
}
.channel-pic{
    width: 45px;
    display: inline-block;
}
.video-prev-l2-1{
    display: inline;
    width: 48px;
    height: 100px;
    vertical-align: top;
    background-color: blue;
}
.video-prev-l2-2{
    display: inline;
    height: 100px;
    background-color: yellow;
}
.video-prev-l3-1{
    display: inline-block;
}
.video-prev-l3-2{
    display: inline-block;
}
.video-prev-l3-3{
    display: inline-block;
}
/* .video-prev-l2-2{
    display: inline-block;
    width: 250px;
    height: 100px;
    vertical-align: top;
    background-color: red;
} */

/* .video-prev-l3-1{
    display: inline-block;
    width: 250px;
    vertical-align: top;
    margin-right: 15px;
    background-color: green;
}
.video-prev-l3-2{
    display: inline-block;
    width: 250px;
    vertical-align: top;
    margin-right: 15px;
    background-color: green;
}
.video-prev-l3-3{
    display: inline-block;
    width: 250px;
    vertical-align: top;
    margin-right: 15px;
    background-color: green;
} */